<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>PSNA CET-Transport Management</display-name>
	<servlet>
		<description>
		</description>
		<display-name>SpareRegisterServlet</display-name>
		<servlet-name>SpareRegisterServlet</servlet-name>
		<servlet-class>servletpackage.SpareRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SpareRetrive</display-name>
		<servlet-name>SpareRetrive</servlet-name>
		<servlet-class>servletpackage.SpareRetrive</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TyreServlet</display-name>
		<servlet-name>TyreServlet</servlet-name>
		<servlet-class>servletpackage.TyreServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RtoRegister</display-name>
		<servlet-name>RtoRegister</servlet-name>
		<servlet-class>servletpackage.RtoRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RtoRetrive</display-name>
		<servlet-name>RtoRetrive</servlet-name>
		<servlet-class>servletpackage.RtoRetrive</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Tyre</display-name>
		<servlet-name>Tyre</servlet-name>
		<servlet-class>servletpackage.Tyre</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TyreRetrive</display-name>
		<servlet-name>TyreRetrive</servlet-name>
		<servlet-class>servletpackage.TyreRetrive</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LabourServlet</display-name>
		<servlet-name>LabourServlet</servlet-name>
		<servlet-class>servletpackage.LabourServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LabourRetrive</display-name>
		<servlet-name>LabourRetrive</servlet-name>
		<servlet-class>servletpackage.LabourRetrive</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BatteryServlet</display-name>
		<servlet-name>BatteryServlet</servlet-name>
		<servlet-class>servletpackage.BatteryServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BatteryRetrive</display-name>
		<servlet-name>BatteryRetrive</servlet-name>
		<servlet-class>servletpackage.BatteryRetrive</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BodyworkServlet</display-name>
		<servlet-name>BodyworkServlet</servlet-name>
		<servlet-class>servletpackage.BodyworkServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BodyworkRetrive</display-name>
		<servlet-name>BodyworkRetrive</servlet-name>
		<servlet-class>servletpackage.BodyworkRetrive</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RentServlet</display-name>
		<servlet-name>RentServlet</servlet-name>
		<servlet-class>servletpackage.RentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RentRetrive</display-name>
		<servlet-name>RentRetrive</servlet-name>
		<servlet-class>servletpackage.RentRetrive</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpareRegisterServlet</servlet-name>
		<url-pattern>/SpareRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SpareRetrive</servlet-name>
		<url-pattern>/SpareRetrive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TyreServlet</servlet-name>
		<url-pattern>/TyreServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RtoRegister</servlet-name>
		<url-pattern>/RtoRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RtoRetrive</servlet-name>
		<url-pattern>/RtoRetrive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Tyre</servlet-name>
		<url-pattern>/Tyre</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TyreRetrive</servlet-name>
		<url-pattern>/TyreRetrive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LabourServlet</servlet-name>
		<url-pattern>/LabourServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LabourRetrive</servlet-name>
		<url-pattern>/LabourRetrive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BatteryServlet</servlet-name>
		<url-pattern>/BatteryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BatteryRetrive</servlet-name>
		<url-pattern>/BatteryRetrive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BodyworkServlet</servlet-name>
		<url-pattern>/BodyworkServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BodyworkRetrive</servlet-name>
		<url-pattern>/BodyworkRetrive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RentServlet</servlet-name>
		<url-pattern>/RentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RentRetrive</servlet-name>
		<url-pattern>/RentRetrive</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
